    <%# <%= current_user.full_name %1> %>
<%# <% end %1> %>
<% @articles.reverse_each do |article| %>
    <div class="post">
        <h2 class="post-title">
            <%= link_to(article_path(article)) do %>
                <%= article.title %>
            <% end %>
        </h2>

        <%# <img src="images/placeholder.jpg" class="post-image" /> %>
        <span class="post-text">
            <%= article.html.html_safe %>
        </span>
        <div class="post-info">
            <% if user_signed_in? %>
                <span class="edit-link">
                    <%= link_to 'Edit', edit_article_path(article) %>
                    <%= link_to 'Delete', article_path(article),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
                </span>
            <% end %>
            <span class="timestamp">
                Posted <%= time_ago_in_words(article.created_at) %> by <%= article.author %>
            </span>
        </div>
        </div>
<% end %>

