<% @articles.reverse_each do |article| %>
    <div class="post">
        <span class="post-title">
            <%= link_to(article_path(article)) do %>
                <%= article.title %>
            <% end %>
        </span>

        <span class="post-text">
            <%= Truncato.truncate( article.source, max_length: 400, count_tags: false).html_safe %>
        </span>
        <div class="read-link">
            <%= link_to(article_path(article)) do %>
                 Read More
            <% end %>
        </div>
        <div class="post-info">
            <% if user_signed_in? %>
                <span class="edit-link">
                    <%= link_to 'Edit', edit_article_path(article) %>
                    <%= link_to 'Delete', article_path(article),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
                </span>
            <% end %>
            <span class="timestamp">
                Posted <%= time_ago_in_words(article.created_at) %> ago by <%= article.author %>
            </span>
        </div>
        </div>
<% end %>

